@CHARSET "UTF-8";

#completeWrap{
		width:95%;
		margin:0px auto;
	}
	
	#orderWrap{
		width:100%;
		margin:0px auto;
		margin-top: 25px;
	}
	
	#shoproot{
			float:right;
			width:72%;
			margin: 0px auto;
			text-align: right;
			font-family: "맑은 고딕";
		}
	#shoproot a{
			text-decoration: none;
			color:#666666;
	}
	
	#completeimg{
		margin: 0px auto;
		margin-top: 80px;
		width:350px;
	}
	
	#order1{
			width:99%;
			height: 350px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
	#order1-left{
			width: 200px;
			height:350px;
			float:left;
			background-color:#F3F3F3;
		}
		
	#left-small1{
			width: 80%;
			float:right;
		}
		
	#order1-right{
			width: 50%;
			height: 350px;
			float:left;
		}
		
		.Info{
			margin-top: 5px;
			width:640px;
			margin-left: 15px;
			color:#666666;
		}
		
		.Info th{
			text-align: left;
			font-weight: normal;
			font-family: "맑은 고딕";
			color:#666666;
			width:135px;
			height: 25px;
		}			
		
		.Info td{
			text-align: left;
		}
		
		#line{
			width:100%;
			border-top: 2px solid #F3F3F3;
			margin-left:10px;
			margin-top: 10px;
			margin-bottom: 10px;
			height:5px;
		}
		
		#buttonGroup{
			margin-top: 20px;
			text-align: center;
			width:95%;
		}