@CHARSET "UTF-8";

#mypageWrap{
			width:100%;
		}
		
		#mypage-left{
			width: 250px;
			border: 2px solid #F3F3F3;
			height: 900px;
			float: left;
		}
		#mypage-right{
			width: 66%;
			margin-left: 20px;
			float: left;
		}
		
		#right-title{
			width:95%;
			margin:0px auto;
		}
		
		#shoproot{
			width:92%;
			margin: 0px auto;
			text-align: right;
			font-family: "맑은 고딕";
		}
		#shoproot a{
			text-decoration: none;
			color:#666666;
		}
		#cartList{
			width:95%;
			margin: 0px auto;
			margin-top: 10px;
		}
		#cartTable{
			width:100%;
			text-align: center;
			border-collapse: collapse;
		}
		
		#cartTable th{
			color:#666666;
			border-top: 4px solid #666666;
			background-color: #F7F7F7;
			height: 35px;
			border-bottom: 1px solid #BFBCBC;
			line-height: 35px;
			vertical-align: middle;
		}
		
		#cartTable td{
			height: 70px;
			line-height: 30px;
			vertical-align: middle;
			border-bottom: 1px solid #BFBCBC;
		}
		
		#mypagedetail{
			width:95%;
			margin:0px auto;
			margin-top: 20px;
			margin-bottom: 25px;
		}
		
		#ordercheck{
			color: olive;
		}
		
		#order1{
			width:99%;
			height: 130px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
		#order1-left{
			width: 210px;
			height:130px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#order1-right{
			width: 50%;
			height: 130px;
			float:left;
		}
		
		#left-small1{
			width: 60%;
			float:right;
		}
		
		#order2{
			width:99%;
			height: 190px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
		#order2-left{
			width: 210px;
			height:190px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#left-small2{
			width: 60%;
			float:right;
		}
		
		#order2-right{
			width: 50%;
			height: 190px;
			float:left;
		}
		
		#order3{
			width:99%;
			height: 100px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
		#order3-left{
			width: 210px;
			height:100px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#order3-right{
			width: 50%;
			height: 100px;
			float:left;
		}
		
		#left-small3{
			width: 60%;
			float:right;
		}
		
		#order4{
			width:99%;
			height: 130px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
		#order4-left{
			width: 210px;
			height:130px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#left-small4{
			width: 60%;
			float:right;
		}
		
		#order4-right{
			width: 50%;
			height: 130px;
			float:left;
		}
		
		#pay{
			width:99%;
			height: 28px;
			border: 10px solid #F3F3F3;
			margin-bottom: 10px;
		}
		
		#pay-left{
			width: 210px;
			height:28px;
			float:left;
			background-color:#F3F3F3;
			color:#666666;
			font-weight: bold;
			font-size: 17px;
			text-align: right;
		}
		
		#pay-right{
			color:#666666;
		}
		#orderWrap{
			margin:0px auto;
			width:95%;
		}
		
		.Info{
			margin-top: 5px;
			width:640px;
			margin-left: 15px;
			color:#666666;
		}
		
		.Info th{
			text-align: left;
			font-weight: normal;
			font-family: "맑은 고딕";
			color:#666666;
			width:135px;
			height: 25px;
		}
		
		#c{
			margin-right: 25px;
		}
		
		#p{
			margin-left: 15px;
		}
		
		#ask{
			width:99%;
			text-align: right;
			color:olive;
			font-weight: bold;
			margin-bottom: 30px;
		}
		#buttonGroup{
			margin-top: 20px;
			text-align: center;
			width:95%;
		}
		#left-mypage{
			text-align: left;
			font-weight: bold;
			font-size: 16px;
			width: 80%;
			margin-left: 20px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		
		#left-userinfo{
			border-top: 2px dotted #F3F3F3;
			border-bottom: 2px dotted #F3F3F3;
		}
		
		#userinfo{
			margin-top: 15px;
			margin-bottom: 10px;
		}
		
		#username{
			color:#BFBCBC;
			width:80%;
			margin-left: 20px;
		}
		
		#infotable{
			width:200px;
			margin: 0px auto;
			color:#666666;
			margin-bottom: 20px;
		}
		
		#infotable th{
			text-align: left;
			font-weight: normal;
			font-family: "맑은 고딕";
			color:#666666;
		}
		
		.infospan{
			color: red;
		}
		
		.infomodify{
			border-top: 2px solid #F3F3F3;
			border-bottom: 2px solid #F3F3F3;
			background-color: #FAFAFC;
			height:40px;
		}
		
		.infomodfiy_name{
			color:#BFBCBC;
			width:60%;
			margin-left: 20px;
			margin-top: 10px;
			float: left;
			font-weight: bold;
		}
		
		.infobutton{
			float:right;
			margin-top: 10px;
			margin-right: 10px;
		}
		
		#first{
			margin-top: 10px;
		}
		
		.infocontent{
			margin-top: 20px;
			margin-bottom:20px;
			margin-left: 20px;
			text-align: left;
			font-weight: normal;
			font-family: "맑은 고딕";
			color:#666666;
		}
		
		.infocontent a{
			text-decoration: none;
			color:#666666;
		}