@CHARSET "UTF-8";

	#ordersheetWrap{
		width:95%;
		margin:0px auto;
	}
	#shoproot{
			float:right;
			width:72%;
			margin: 0px auto;
			text-align: right;
			font-family: "맑은 고딕";
		}
	#shoproot a{
			text-decoration: none;
			color:#666666;
	}
	#cartList{
			width:100%;
			margin: 0px auto;
			margin-top: 10px;
		}
		#cartTable{
			width:100%;
			text-align: center;
			border-collapse: collapse;
		}
		
		#cartTable th{
			color:#666666;
			border-top: 4px solid #666666;
			background-color: #F7F7F7;
			height: 35px;
			border-bottom: 1px solid #BFBCBC;
			line-height: 35px;
			vertical-align: middle;
		}
		
		#cartTabke td{
			height: 140px;
			line-height: 35px;
			vertical-align: middle;
		}
		#cartbottom{
			width:100%;
			height: 80px;
			background-color:#F7F7F7;
			border-top: 3px solid #BFBCBC;
			border-bottom: 1px solid #BFBCBC;
		}
		
		
		#price{
			width:100%;
			color:#666666;
		}
		
		#pc, #p{
			float:right;
		}
		
		#p{
			width:13%;
		}
		
		#pc{
			padding-right: 20px;
		}
		
		img{
			line-height: 35px;
			vertical-align: middle;
		}
		
		#productname{
			text-align: left;
		}
		
		#order1{
			width:100%;
			height: 160px;
			border: 2px solid #BFBCBC;
			margin-bottom: 10px;
		}
	
		#order2{
			clear:both;
			width:100%;
			height: 290px;
			border: 2px solid #BFBCBC;
			margin-top: 10px;
		}
		
		#order3{
			width:100%;
			height:140px;
			border: 2px solid #BFBCBC;
			margin-top: 10px;
		}
		
		#Info{
			width:100%;
			height:80px;
			border: 2px solid #BFBCBC;
			margin-top: 10px;
			color:#666666;
			vertical-align: middle;
			line-height: 25px;
		}
		
		#order4{
			width:100%;
			height:200px;
			border: 2px solid #BFBCBC;
			margin-top: 10px;
		}
		
		#order1-left{
			width: 160px;
			height:160px;
			float:left;
			background-color:#F3F3F3;
		}

		#order2-left{
			width: 160px;
			height:290px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#order3-left{
			width:160px;
			height:140px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#order4-left{
			width:160px;
			height:200px;
			float:left;
			background-color:#F3F3F3;
		}
		
		#left-small1{
			width: 80%;
			float:right;
		}
		
		#left-small2{
			width:80%;
			float:right;
		}
		
		#left-small3{
			width:80%;
			float:right;
		}
		
		#left-small4{
			width:80%;
			float:right;
		}
		
		#order1-right{
			width: 50%;
			height: 160px;
			float:left;
		}
	
		#order2-right{
			width:50%;
			height:290px;
			float:left;
		}
	
		#order3-right{
			width:50%;
			height:140px;
			float:left;
		}
	
		#order4-right{
			width:50%;
			height:200px;
			float:left;
		}
	
		.userInfo{
			margin-top: 5px;
			width:640px;
			margin-left: 15px;
			color:#666666;
		}
		
		.userInfo th{
			text-align: left;
			font-weight: normal;
			font-family: "맑은 고딕";
			color:#666666;
			width:135px;
			height: 25px;
		}
		
		.order3Info{
			text-align: center;
		}
		
		#orderimg{
			margin-top: 15px;
			margin-bottom: 5px;
		}
		
		#orderdeimg{
			margin-top: 10px;
		}
		
		#sum{
			color:red;
			font-size: 18px;
		}
		
		#service{
			color:red;
			font-size: 15px;
		}
		
		#payspan{
			color:red;
			font-size:15px;
		}
		
		#buttonGroup{
			margin-top: 20px;
			text-align: center;
			width:95%;
		}