@CHARSET "UTF-8";
body {
	font-family: 굴림;
	font-size: 12px;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
}
th {
	padding: 5px 5px;
	text-align: center;
	border: 1px solid black;
}
td{
	padding: 3px 5px;
	border: 1px dotted white;
}
div.body {
	margin: 50px auto;		
}
.header {
	background: #C9BFED;
}
.record {
	background: #EDEDED;
}